body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
    padding-bottom: 90px;
   
}

section.stay-connected-area {
    height: 150px;
}

section.work-inquiry {
    height: 150px;
}
a.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.half-width.single-experience {
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    padding: 10px;
    border-radius: 8px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.fotter{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    padding: 30px;
}
.single-experience{
    background-color: white;
}

.leatest-single-div{
    width: 30%;
    float: left;
    margin-left: 2%;
}
.leatest-single-div img{
    width: 100%;
}

section.leatest-working-area h1 {
    text-align: center;
    font-weight: 900;
}

span.lest {
    color: orange;
}

.leatest-single-div {
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    padding: 10px;
}
section.work-inquiry img {
    width: 650px;
}

section.work-inquiry {
    text-align: center;
    position: relative;
}

.description a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    position: relative;
    bottom: 170px;
    left: 180px;
}



.description h2 {
    position: relative;
    bottom: 120px;
    color: white;
    right: 190px;
}

section.stay-connected-area {
    text-align: center;
}

.social-icons img {
    width: 60px;
    padding: 10px;
}

